<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>OpenEval | About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

    <div class="container-fluid">

        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left: 10%;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Registered Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all-classes">All Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="jumbotron">
            <h2>OpenEval</h3>
            <h4>Georgia Tech Junior Design</h4>
            <a href="https://github.com/dedding4341/OpenEval">GitHub Repository</a>
        </div>

        <footer>
            <p>OpenEval | Georgia Tech Junior Design | Fall 2018</p>
        </footer>

    </div>

</body>

</html>